<!DOCTYPE html>
<html lang="en">
    <head>
       
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
    </head>
    <body>
        <div class="container-fluid bg-success">
            <h1 class="text-center"> <i class="bi bi-bell"></i> You got a new appointment demand from <%= @appointment.user.email %></h1> <br>
        </div>
        <p class="text-center"> <i class="bi bi-file-earmark-text"></i> Appointment Details</p>
        <hr>

        <p>Patient Name : <%= @appointment.user.name %></p><br>
        <p>Patient Email : <%= @appointment.user.email %></p><br>
        <p>Patient Address : <%= @appointment.user.address %></p><br>
        <p>Patient Number : <%= @appointment.user.phone_number %></p><br><br><br>
         <p>Hourly: <%= @appointment.date.strftime("%d %b %Y à %H:%M") if @appointment.date  %></p><br><br><br>

        <p class="text-center">Message</p>
        <hr>
        <br>
        <div class="container border border-1 border-ligh">
            <p> <%= @appointment.message %></p>
        </div>
        
    </body>
</html>