<div class="container mt-5" id="toppage">
    <div class="d-flex justify-content-between row ">
        <% @doctors.each do |doctor| %>
            <div class="card col-sm-6 mb-5" style="width: 18rem;">
                <%= image_tag(doctor.user.avatar.url, width: "150px", class: "card-img-top img-thumbnail") if doctor.user.avatar && doctor.user.avatar.url  %>
                <div class="card-body">
                <h5 class="card-title">Dr <%= doctor.user.name %> </h5>
                
                <p class="card-text fs-5"><small class="text-muted">Specialist in <%= doctor.speciality %> </small></p>
                
                <p class="card-text fs-5"><i class="bi bi-geo-alt-fill text-primary"></i> <%= doctor.user.address %> </p>
                <%= link_to 'See more', doctor, class: "btn btn-outline-primary" %>
                </div>
            </div>
            <% end %>
    </div>
</div>
<a href="#topage" class="btn btn-outline-danger">Return top </a>



   
