<%= form_with(model: annonce, local: true) do |form| %>
  <% if annonce.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(annonce.errors.count, "error") %> prohibited this annonce from being saved:</h2>

      <ul>
      <% annonce.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= image_tag(@annonce.image.url) if @annonce.image && @annonce.image.url %>
    
    <%= form.file_field :image, accept: 'image/jpeg,image/gif,image/png' %>
     <%= form.hidden_field :image_cache %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
