
<div class="card">
  <div class="card-body">
    <h5 class="card-title">  <%= @annonce.title %> </h5>
   <p class="card-text">  <%= @annonce.content %> </p><br>
   
  </div>
  <%= image_tag(@annonce.image.url,  class: "card-img-top") if @annonce.image && @annonce.image.url  %><br>

   <p class="card-text">By <b> Dr <%= @annonce.user.name %> </b> </p> <br> <br>
    <p class="card-text"><small class="text-muted">Last updated at <%= @annonce.created_at %> </small></p>
</div><br><br>


<%= link_to 'Back', annonces_path, class: "btn btn-info btn-sm text-white" %>
 <br><br>